nav {
	background:
    linear-gradient(
      to right, 
      #1976d2, purple
    );
}

.filter-section {
	margin-top: 50px;
}

.filter-Kelvin {
	filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1);
    -webkit-filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1);
}

.filter-Willow {
    -webkit-filter: saturate(0.02) contrast(0.85) brightness(1.2) sepia(0.02);
    filter: saturate(0.02) contrast(0.85) brightness(1.2) sepia(0.02);
}